table,
th,
td {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border-collapse: collapse;
}
table {
}
th {
  color: white;
  background-color: #36304a;
}
td {
  background-color: whitesmoke;
  border-bottom: white solid 2px;
}
#left {
  border-top-left-radius: 7px;
}
#right {
  border-top-right-radius: 7px;
}
th,
td {
  width: 160px;
  text-align: center;
}
#container {
  display: flex;
}
#table {
  margin: auto;
}
#insert {
  margin: auto;
  text-align: center;
}
