table,
th,
td {
  margin-top: 10px;
  font-size: 20px;
  border-collapse: collapse;
}
th {
  color: white;
  background-color: #36304a;
}
td {
  background-color: whitesmoke;
  border-bottom: white solid 2px;
}
#left {
  border-top-left-radius: 7px;
}
#right {
  border-top-right-radius: 7px;
}
th,
td {
  width: 160px;
  text-align: center;
}
#container {
  display: flex;
}
#table {
  margin: auto;
}
#insert {
  text-align: center;
}
button {
  background-color: whitesmoke;
  display: block;
  border: none;
  width: 100%;
  height: 30px;
}
.top {
  border-bottom: solid rgb(206, 206, 206) 1px;
}
button:hover {
  background-color: lightgray;
}
button:active {
  background-color: gray;
}
#insertContainer {
  padding-top: 20px;
  width: 432px;
  margin: auto;
}
input {
  width: 140px;
  border: none;
  border-bottom: 2px solid gray;
}
input:focus {
  outline: none;
  border-bottom: solid 2px black;
}
